{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Plan{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-120 px-3">
    <div class="card shadow-lg bg-white rounded-4 p-5 m-4 col-lg-6 col-md-8 col-sm-12" style="background-color:#f5f5dc;">
        <h2 class="text-center fw-bold mt-2 mb-4" style="color: #34495E;">Crear nuevo plan</h2>
        <hr class="border-1 opacity-75 mt-1">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="name" class="form-label">Nombre del Plan:</label>
                <input type="text" id="name" name="name" class="form-control" required style="border-color: #34495E">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Descripción:</label>
                <textarea id="description" name="description" class="form-control" rows="3" required style="border-color: #34495E"></textarea>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Precio:</label>
                <input type="number" id="price" name="price" class="form-control" required style="border-color: #34495E">
            </div>

            <div class="mb-3">
                <label for="places" class="form-label">Cupos Disponibles:</label>
                <input type="number" id="places" name="places" class="form-control" required min="1" style="border-color: #34495E">
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Categoría:</label>
                <select id="category" name="category" class="form-select" required style="border-color: #34495E">
                    <option value="">Seleccione una categoría</option>
                    {% for category in categories %}
                    <option value="{{ category.category_id }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Fechas del Plan:</label>
                <div id="date-container" class="d-grid gap-2">
                    <input type="date" id="plan_dates" name="plan_dates" class="form-control" min="{{ hoy }}" style="border-color: #34495E;">
                </div>
                <button type="button" onclick="addDate()" class="btn mt-2" style="background-color: #1ABC9C; color: white;">Agregar otra fecha</button>
            </div>

            <div class="mb-3">
                <label for="pictures" class="form-label">Imágenes:</label>
                <input type="file" id="pictures" name="pictures" class="form-control" multiple style="border-color: #52b35f;">
            </div>

            <div class="form-check mb-2">
                <input type="checkbox" id="has_transport" name="has_transport" class="form-check-input">
                <label for="has_transport" class="form-check-label">¿Incluye transporte?</label>
            </div>

            <div class="form-check mb-2">
                <input type="checkbox" id="has_meal" name="has_meal" class="form-check-input">
                <label for="has_meal" class="form-check-label">¿Incluye comida?</label>
            </div>

            <div class="form-check mb-4">
                <input type="checkbox" id="has_guide" name="has_guide" class="form-check-input">
                <label for="has_guide" class="form-check-label">¿Incluye guía?</label>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn shadow w-auto px-5 mt-3" style="background-color:  #34495E; color: white;">Guardar Plan</button>
                <a href="{% url 'list' %}" class="btn shadow w-auto px-5 mt-3 ms-3" style="background-color: rgb(199, 86, 86); color: white;">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let today = new Date().toISOString().split('T')[0];
        document.getElementById("plan_dates").setAttribute("min", today);
    });

    function addDate() {
        let today = new Date().toISOString().split('T')[0];

        let container = document.getElementById("date-container");
        let newInput = document.createElement("input");
        newInput.type = "date";
        newInput.name = "plan_dates";
        newInput.className = "form-control mt-2";
        newInput.min = today;
        newInput.style.borderColor = "rgb(255,179,71)";
        container.appendChild(newInput);
    }
</script>
{% endblock %}
